In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
import pickle
def save_obj(obj, name ):
    with open(name, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name ):
    with open(name , 'rb') as f:
        return pickle.load(f)

In [3]:
sol1 = load_obj('/home/sahil/Downloads/test_raw_preds_scibert_uncased.pkl')
sol2 = load_obj('/home/sahil/Downloads/test_raw_preds_scibertv2_uncased.pkl')
sol3 = load_obj('/home/sahil/Downloads/test_raw_preds_scibertv2_mutlilayer.pkl')

In [9]:
final_sol = {}
for key in sol1.keys():
    final_sol[key] = sol1[key]+sol2[key]+sol3[key]
    final_sol[key] = final_sol[key].argmax(axis=1)
test = pd.read_csv('test.csv')
final_sol = pd.DataFrame(final_sol)
final_sol['ID'] = test['ID']

In [10]:
final_sol.head()

,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance,ID
0,1,0,0,1,0,0,20973
1,0,1,0,0,0,0,20974
2,1,0,0,0,0,0,20975
3,0,1,0,0,0,0,20976
4,1,0,0,0,0,0,20977

In [11]:
final_sol.to_csv('final_submission.csv',index=False)